body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button[type="submit"], button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate button from input field */
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover, button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Adjust the size of the Extracted Links box */
#extracted-links {
    width: 100%;
    height: 200px; /* Increase the height to make the box bigger */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }
}
