<!DOCTYPE html>
<html>
<head>
    <title>Extract Links</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function copyToClipboard() {
    var copyText = document.getElementById("extracted-links");
    copyText.select();
    document.execCommand("copy");
}
  </script>
</head>
<body>
    <h1>Extract Links</h1>
    <form action="/" method="post">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url">
        <button type="submit">Extract Links</button>
    </form>
    
   <h2>Extracted Links:</h2>
<textarea id="extracted-links" rows="5" cols="50">
    {% for link in links %}
        {{ link }}
    {% endfor %}
</textarea>

<button onclick="copyToClipboard()">Copy</button>
</body>
</html>
